HealthMonitoring.json
[{"id":"6a27aa49.7043b4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a05f8d46.3bc2","type":"debug","z":"6a27aa49.7043b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":120,"wires":[]},{"id":"ef6f0ac3.83ae18","type":"http request","z":"6a27aa49.7043b4","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":400,"wires":[["b843725f.12958","808cf479.d65da8"]]},{"id":"330f7806.0613b8","type":"function","z":"6a27aa49.7043b4","name":"Pre-tocken","func":"global.set(\"Age\",msg.payload.Age)\nglobal.set(\"Temperature\",msg.payload.Temperature)\nglobal.set(\"Systolic\",msg.payload.Systolic)\nglobal.set(\"Diastolic\",msg.payload.Diastolic)\nglobal.set(\"Pulse\",msg.payload.Pulse)\nvar apikey=\"_TKMQq_Zsv4UYMsPraIvjwEAqWiPgK18LwSofc1uD2WP\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":300,"wires":[["ef6f0ac3.83ae18"]]},{"id":"b843725f.12958","type":"function","z":"6a27aa49.7043b4","name":"Pre-Prediction","func":"var Age = global.get(\"Age\")\nvar Temperature = global.get(\"Temperature\")\nvar Systolic = global.get(\"Systolic\")\nvar Diastolic = global.get(\"Diastolic\")\nvar Pulse = global.get(\"Pulse\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"Age\", \"Temperature\", \"Systolic\", \"Diastolic\", \"Pulse\"]],\"values\": [[Age, Temperature, Systolic, Diastolic, Pulse]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":360,"wires":[["3388f6d0.7f51ea"]]},{"id":"808cf479.d65da8","type":"debug","z":"6a27aa49.7043b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":620,"y":500,"wires":[]},{"id":"d4dd45d8.50e228","type":"function","z":"6a27aa49.7043b4","name":"","func":"var Age = global.get ('Age')\nvar Temperature = global.get ('Temperature')\nvar Systolic = global.get ('Systolic')\nvar Diastolic = global.get ('Diastolic')\nvar Pulse = global.get ('Pulse')\nvar output=msg.payload.predictions[0].values[0][0]\nglobal.set(\"ouptut\",output)\nmsg.payload = {\n details: {\n health: {\n Age: Age,\n temperature: Temperature,\n systolic: Systolic,\n diastloic:Diastolic,\n pulse: Pulse,\n output: output\n }\n }\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":280,"wires":[["144b51ec.bfdd2e","65d335a4.ed5dac"]]},{"id":"3388f6d0.7f51ea","type":"http request","z":"6a27aa49.7043b4","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/c4e07c0f-3c34-4137-86f2-e4731e2c3dba/predictions?version=2020-09-01","tls":"","persist":false,"proxy":"","authType":"","x":780,"y":420,"wires":[["d4dd45d8.50e228","847200c6.cb0ee"]]},{"id":"847200c6.cb0ee","type":"debug","z":"6a27aa49.7043b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":500,"wires":[]},{"id":"65d335a4.ed5dac","type":"debug","z":"6a27aa49.7043b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":300,"wires":[]},{"id":"144b51ec.bfdd2e","type":"ui_text","z":"6a27aa49.7043b4","group":"57e20c90.082ae4","order":6,"width":"17","height":"2","name":"","label":"Status","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":220,"wires":[]},{"id":"1cf8af4d.459b11","type":"inject","z":"6a27aa49.7043b4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":80,"y":320,"wires":[["330f7806.0613b8"]]},{"id":"51787a4a.f9ee34","type":"ui_gauge","z":"6a27aa49.7043b4","name":"","group":"57e20c90.082ae4","order":1,"width":"6","height":"6","gtype":"gage","title":"Temperature","label":"Degree","format":"{{msg.payload.Temperature}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":480,"y":100,"wires":[]},{"id":"27b0fc01.887354","type":"ui_gauge","z":"6a27aa49.7043b4","name":"","group":"57e20c90.082ae4","order":2,"width":"6","height":"6","gtype":"gage","title":"Diastolic","label":"units","format":"{{msg.payload.Diastolic}}","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":200,"wires":[]},{"id":"75b9ca07.6d3474","type":"ui_gauge","z":"6a27aa49.7043b4","name":"","group":"57e20c90.082ae4","order":3,"width":"6","height":"6","gtype":"gage","title":"Systolic","label":"units","format":"{{msg.payload.Systolic}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":160,"wires":[]},{"id":"a1471bb1.140be8","type":"ui_gauge","z":"6a27aa49.7043b4","name":"","group":"57e20c90.082ae4","order":4,"width":"6","height":"6","gtype":"gage","title":"Age","label":"","format":"{{msg.payload.Age}}","min":0,"max":"80","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":480,"y":60,"wires":[]},{"id":"8fc5868e.b96428","type":"ui_gauge","z":"6a27aa49.7043b4","name":"","group":"57e20c90.082ae4","order":5,"width":"6","height":"6","gtype":"gage","title":"Pulse","label":"units","format":"{{msg.payload.Pulse}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":460,"y":260,"wires":[]},{"id":"480eb17d.162d1","type":"ibmiot in","z":"6a27aa49.7043b4","authentication":"apiKey","apiKey":"d05b7f4e.baaf","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"Heart","applicationId":"","deviceType":"12345","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":220,"y":160,"wires":[["a1471bb1.140be8","51787a4a.f9ee34","75b9ca07.6d3474","8fc5868e.b96428","27b0fc01.887354","a05f8d46.3bc2"]]},{"id":"57e20c90.082ae4","type":"ui_group","z":"","name":"IoT Heart ","tab":"bc59ffed.a4e57","order":3,"disp":true,"width":"17","collapse":false},{"id":"d05b7f4e.baaf","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"ye5fi3.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"bc59ffed.a4e57","type":"ui_tab","z":"","name":"Health monitor","icon":"dashboard","disabled":false,"hidden":false}]